TURSO_DATABASE_URL=libsql://negocio-zoro7u7.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzAxNzIzNzIsImlkIjoiNzliZGI2NzUtY2IwZC00ZGYwLTk1ZjgtOTVkMWViYTBiYjZkIiwicmlkIjoiODc0OTRhNTgtOGU1OS00ZjZiLWE1MjUtM2U4NzYxY2E0ZmI2In0.-cJlRT53XTVb9isx9O2mBKZ9nYlJq6IiK9YtO-JQ9rAxIDC2IZ-YswvKmkFR9z3BxclIuqEkp-UezsBh08cfCQ
